.skill,
.skillCont{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 70vw;
}

.skillCont{
	flex-wrap: wrap;
	align-items: center;
	padding-left: 10px;
}

.gradJs,
.gradHtml,
.gradCss,
.gradJquery,
.gradBootstrap,
.gradAngular{
	background: linear-gradient(to right, #8533ff, #00ffcc);
	height: 7px;
	border-radius: 5px;
	width: 0%;
}

.gradBack{
	background-color: #808080;
	width: 100%;
	border-radius: 5px;
}

.skillName{
	font-weight: bold;
	width: 30%;
}

.textCenter{
	width: 40%;
	font-size:10px;
	text-align: center;
}

.textRight{
	width: 30%;
	text-align: right;
}